body{
    font-family: "Helvetica Neue", "Open sans", sans-serif;
    background-color: gray;
    background-image: -webkit-linear-gradient(top left, #a802e0, #f7676a);
    color: white;
  }
 .name h1{
     margin: 50px 520px;
     font-size: 3rem;
 } 
 .form{
     border: 2px solid black;
     border-radius: 4rem;
     margin: 100px 310px;
     height: 60vh;
     width: 57vw;
 }
  .form-group{
  display: flex;
    position: absolute;
    top: 60%;
    left: 34%;
    transform: translate(-50%, -50%);
  }
  
  form input{
    width: 300px;
    display: block;
    margin-bottom: 10px;
    font-size: 1.0em;
    padding: 10px;
    color: #fff;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-weight: 300;
    outline: none;
    font-weight: 100;
    letter-spacing: 4px;
    margin-left: 10px;
  }
  input .input-field{
      border: 1px solid black;
  }
  form input:hover, form input:focus{
    border-bottom: 2px solid rgba(255, 255, 255, .9);
    border-radius: 5%;
  }
  
  form input::placeholder{
    color: #d3d1d3;
    font-weight: 100;
    letter-spacing: 4px;
    margin-left: 50px;
  }
  
  input[type="submit"]{
      margin:40px auto;
    border: 1px solid white;
    display: block;
    width: 100px;
    
  }
  
  input[type="submit"]:hover{
    border: 1px solid black;
    color: black;
    display: block;
    width: 100px;
  }
  .form-group2{
      display: flex;
      position: absolute;
      top: 32%;
      left: 55%;
  }
  