<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index2.css" class="css">
    <title>Document</title>
</head>

<body>
    <section class="page2">
        <div class="name">
            <h1>Parkinson's Disease</h1>
        </div>
        <div class="form">
            <form action = "{{url_for('result')}}" method = "POST">
                    <div class="form-group">
                    <input class="input-field" type="text" placeholder="MDVP:Fo(Hz)" name="MDVP:Fo(Hz)" />
                    <input class="input-field" type="text" placeholder="MDVP:Fhi(Hz)" name="MDVP:Fhi(Hz)" />
                    <input class="input-field" type="text" placeholder="MDVP:Flo(Hz)" name="MDVP:Flo(Hz)" />
                    <input class="input-field" type="text" placeholder="MDVP:Jitter(%)" name="MDVP:Jitter(%)" />
                    <input class="input-field" type="text" placeholder="MDVP:Jitter(Abs)" name="MDVP:Jitter(Abs)" />
                    <input class="input-field" type="text" placeholder="MDVP:RAP" name="MDVP:RAP" />
                    <input class="input-field" type="text" placeholder="PPE" name="PPE" />
                    <input type="submit" value="Check" />
                </div>
                <div class="form-group2">
                    
                        <input class="input-field" type="text" placeholder="MDVP:PPQ" name="MDVP:PPQ" />
                        <input class="input-field" type="text" placeholder="Jitter:DDP" name="Jitter:DDP" />
                        <input class="input-field" type="text" placeholder="MDVP:Shimmer" name="MDVP:Shimmer" />
                        <input class="input-field" type="text" placeholder="MDVP:Shimmer(dB)" name="MDVP:Shimmer(dB)" />
                        <input class="input-field" type="text" placeholder="Shimmer:APQ3" name="Shimmer:APQ3" />
                        <input class="input-field" type="text" placeholder="Shimmer:APQ5" name="Shimmer:APQ5" />
                        <input class="input-field" type="text" placeholder="D2" name="D2" />
                        <input type="submit" value="Clear" />
                    
                </div>
                <div class="form-group3 ">
    
                        <input class="input-field" type="text" placeholder="MDVP:APQ" name="MDVP:APQ" />
                        <input class="input-field" type="text" placeholder="Shimmer:DDA" name="Shimmer:DDA" />
                        <input class="input-field" type="text" placeholder="NHR" name="NHR" />
                        <input class="input-field" type="text" placeholder="RPDE" name="RPDE" />
                        <input class="input-field" type="text" placeholder="DFA" name="DFA" />
                        <input class="input-field" type="text" placeholder="HNR" name="HNR" />
                        <input class="input-field" type="text" placeholder="Spread1" name="Spread1"/>
                        <input class="input-field" type="text" placeholder="Spread2" name="Spread2" />
 
                </div>
            </form>
        </div>
    </section>
</body>

</html>